/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

div .sidebar{
    border-left: 1px dotted #ddd;
}

.sidebar h2{
    font-size: 120%;
}

.sidebar li{
    list-style-type: none;
}

.sidebar ul{
    padding-left: 0;
}

div.jumbotron{
    background: #eee url('../images/bg1.jpg') no-repeat center;
}
