

.wrapper {
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px;
}

footer{
    background-color: #ccc;
}

.introduction {
    padding-bottom: 1em;
}

.col-wrapper {  margin-left: -15px; }

.col { float: left; margin-bottom: 15px; padding-left: 15px; }
.col-1 { 
    width: -webkit-calc(39% - (30px / 2)); 
    width: calc(39% - (30px / 2)); 
    
    
}
.col-2 { 
    width: -webkit-calc(60% - (30px / 2)); 
    width: calc(60% - (30px / 2)); 
    border-left: 1px dashed black;
}