
.post-content h2{
    font-size: 1.2em;
}

.post-content h3{
    font-size: 1.0em;
    font-weight: bold;
}


.wrapper {
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px;
}

footer{
    background-color: #ccc;
}

.introduction {
    padding-bottom: 1em;
}

.col-wrapper {  margin-left: -15px; }

.col { float: left; margin-bottom: 15px; padding-left: 15px; }
.col-1 { 
    width: -webkit-calc(39% - (30px / 2)); 
    width: calc(39% - (30px / 2)); 
    
    
}
.col-2 { 
    width: -webkit-calc(60% - (30px / 2)); 
    width: calc(60% - (30px / 2)); 
    border-left: 1px dashed black;
}

.post_series {
    border: 1px solid #ddd;
    padding: 0.5em;
    background-color: #eee;
    float:right;
    margin: 1em;
}

pre, code{
    background-color: #ddd;
}

.highlighter-rouge .highlight{
    background-color: #ddd;
}